<div class="all">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="main.private.projects">Ra Projects</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" ng-if="userCan">
					<li ui-sref-active="active"><a ui-sref="main.private.projects">Projects</a></li>
					<li ui-sref-active="active" ng-if="currentUser.role === 'admin'"><a ui-sref="main.private.users">Users</a></li>
					<li ui-sref-active="active" ng-if="currentUser.role === 'admin'"><a ui-sref="main.private.settings">Settings</a></li>
					<li ng-if="currentState.name == 'main.private.projects'">
						<p class="navbar-btn">
							<a class="btn btn-small btn-default" ui-sref="main.private.project-new">
								<i class="glyphicon glyphicon-plus"></i>
								<i class="glyphicon glyphicon-book"></i>
							</a>
						</p>
					</li>
<!--					<li ui-sref-active="active" ng-if="currentState.name == 'main.private.project'">
						<a ui-sref="main.private.project(id: currentProject._id)">{{ currentProject.name }}</a>
					</li>-->
					<li ng-if="currentState.name == 'main.private.project'">
						<p class="navbar-btn">
							<a class="btn btn-default" data-ui-sref="main.private.ticket-new({pid: currentProject._id})">
								<i class="glyphicon glyphicon-plus"></i>
								<i class="glyphicon glyphicon-file"></i>
							</a>
						</p>
					</li>
					<!-- <li ng-if="userCan" ui-sref-active="active"><a ui-sref="main.private.settings">Settings</a></li>
					<li ng-if="userCan" ui-sref-active="active"><a ui-sref="main.private.profile">Profile</a></li>-->
				</ul>

				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li ng-if="currentState.name == 'main.private.project'">
							<p class="navbar-btn">
								<a class="btn btn-default" data-ui-sref="main.private.project-edit({id: currentProject._id})">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
							</p>
						</li>
						<li ng-if="userCan"><a data-ui-sref="main.private.user({id: currentUser.id})">Profile</a></li>
						<li ng-if="userCan"><a href="/logout">Logout</a></li>
						<li ng-if="!userCan && currentState.name !== 'main.public.registration'"><a ui-sref="main.public.registration">Registration</a></li>
						<li ng-if="!userCan && currentState.name !== 'main.public.login'"><a ui-sref="main.public.login">Login</a></li>
					</ul>
					<form class="navbar-form" ng-show="$state.current.name == 'projects'">
						<span ui-sref="projectNew" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></span>
						<span class="btn btn-danger" ng-click="toggleDeleteProjectsProcess()"><i class="glyphicon glyphicon-minus"></i></span>
					</form>
					<form class="navbar-form" ng-show="$state.current.name == 'users'">
						<span ui-sref="userNew" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></span>
						<span class="btn btn-danger" ng-click="toggleDeleteUsersProcess()"><i class="glyphicon glyphicon-minus"></i></span>
					</form>
				</div>
			</div>
		</div>
	</nav>
	<div class="ra-full-height" ng-class="{'ra-container': currentState.name != 'main.private.project'}" data-ui-view></div>
</div>