html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #858585;
	margin: 20px 0;
}

.all {
	height: 100%;
	padding-top: 52px;
}

[ui-draggable] {
	cursor: pointer;
	z-index: 100;
}

ul {
	list-style: none;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.ra-full-height {
	height:100%;
}

.ra-projects-list {
	list-style: none;
	margin: 0 -10px;
	padding:0;
}

.ra-projects-list-item {
	display: inline-block;
	max-width: 320px;
	margin: 10px;
	padding: 10px;
	border: 1px dashed lightblue;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	text-align: center;
	transition:background .3s ease-in-out;
}

.ra-projects-list-item:hover {
	background:rgba(0,0,255,0.05);
}

.ra-projects-list-item-image {
	display: table-cell;
	min-width: 170px;
	height:100px;
	vertical-align: middle;
}

.ra-projects-list-item img {
	max-width: 150px;
	max-height: 100px;
}

.ra-tickets-grid {
	display: table;
	width:100%;
	height:100%;
	border-collapse:collapse;
}

.ra-tickets-row {
	display: table-row;
	width:100%;
	border-bottom:2px solid #eee;
}

.ra-tickets-row:first-child {
	height:50px;
}

.ra-tickets-row:last-child {
	border:0;
}

.ra-tickets-column-heading,
.ra-tickets-column {
	display: table-cell;
	border-right:2px solid #eee;
}

.ra-tickets-column-heading:last-child,
.ra-tickets-column:last-child {
	border:0;
}

.ra-tickets-column-heading {
	padding:10px;
	text-align: center;
	vertical-align: middle;
}

.ra-tickets-column {
	padding:10px;
}

.ra-project-ticket {
	display: block;
	margin: 4px;
	padding: 10px;
	border: 1px solid lightblue;
	border-left-width:4px;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	transition:background .3s ease-in-out;
	overflow:hidden;
}

.ra-ticket-label {
	font-weight: bold;
}

.ra-ticket-asignee {
	width:50px;
	float:right;
}

.ra-ticket-asignee img{
	max-width:100%;
	height:auto;
}

.ra-drop-entered {
	background:lightyellow;
}

.ra-drop-active {
	background:lightgoldenrodyellow;
}

.ra-ticket-green {
	border-color:darkolivegreen;
}
.ra-ticket-blue {
	border-color:lightblue;
}
.ra-ticket-yellow {
	border-color:greenyellow;
}
.ra-ticket-orange {
	border-color:orange;
}
.ra-ticket-red {
	border-color:darkred;
}
.ra-ticket-gray {
	border-color:gray;
}

.ra-title-btn {
	float:right;
}

.navbar-btn .btn {
	margin-left:20px;
}

.ra-container {
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}

ul[dnd-list],
ul[dnd-list] > li {
	position: relative;
}