<div class="ps-layout-user-create">
	<h1>User create</h1>

	<div class="row">
		<div class="col-sm-4">
			<form ng-show="!creationResult">
				<div class="form-group">
					<label for="exampleInputUserName">Name</label>
					<input type="text" class="form-control" id="exampleInputUserName" ng-model="newUser.name"
					       placeholder="Enter user name">
				</div>
				<div class="form-group">
					<label for="exampleInputUserRole">Role</label>
					<input type="text" class="form-control" id="exampleInputUserRole" ng-model="newUser.role"
					       placeholder="Enter user role">
				</div>
				<div class="form-group">
					<label for="exampleInputUserImg">Image</label>
					<input type="text" class="form-control" id="exampleInputUserImg" ng-model="newUser.img"
					       placeholder="Enter user img">
				</div>
				<h2>Skills</h2>

				<div class="row">
					<div class="col-sm-4">
						<div class="row">
							<div class="col-sm-6">
								Skill
							</div>
							<div class="col-sm-6">
								Years
							</div>
						</div>
					</div>
					<div class="col-sm-1" ng-if="$index">
						<span class="btn btn-default" ng-click="removeSkill($index)"><i
								class="glyphicon glyphicon-minus"></i></span>
					</div>
				</div>
				<div ng-repeat="skill in newUser.skills">
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-6">
										<input type="text" class="form-control" name="exampleInputUserSkillName"
										       ng-model="skill.name" placeholder="Enter skill name">
									</div>
									<div class="col-sm-6">
										<input type="number" class="form-control" name="exampleInputUserSkillYears"
										       ng-model="skill.years" placeholder="Enter years of experience">
									</div>
								</div>
							</div>
							<div class="col-sm-1" ng-if="$index">
								<span class="btn btn-default" ng-click="removeSkill($index)"><i
										class="glyphicon glyphicon-minus"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-1">
							<span class="btn btn-default" ng-click="addSkill()"><i class="glyphicon glyphicon-plus"></i></span>
						</div>
					</div>
				</div>
				<span class="btn btn-default" ng-click="createUser()">Submit</span>
			</form>

			<span class="btn btn-default" ng-click="createAnotheruser()" ng-show="creationResult">Submit</span>

		</div>
		<div class="col-sm-4">
			<img src="{{newUser.img}}" class="ps-avatar-big" alt=""/>
		</div>
	</div>
</div>