<div class="ps-man-info" data-ng-controller="infoController">
	<h2>Info</h2>
	<h3>{{currentMan.name}}</h3>
	<ul class="ps-man-info-skills">
		<li class="ps-man-info-role">{{currentMan.role}} {{currentMan.level}} {{currentMan.specialization}}</li>
		<li class="ps-man-info-skill" ng-repeat="skill in currentMan.skills">{{skill}}</li>
	</ul>
	<ul class="ps-man-info-projects" ng-if="currentMan.projects.length">
		<li class="ps-man-info-role">Projects involved:</li>
		<li class="ps-man-info-skill" ng-repeat="project in currentMan.projects">{{getProjectName(project.projID)}}</li>
	</ul>
	<ul class="ps-man-info-projects">
		<li class="ps-man-info-role">Busyness:</li>
		<li class="ps-man-info-skill">{{ currentMan.business ? (currentMan.business.getShortMonthName()+' '+currentMan.business.getDate()+', '+currentMan.business.getFullYear()) : 'free'}}</li>
	</ul>
</div>