<div class="ps-panel">

	<div class="row">
		<div class="col-sm-2 col-sm-offset-5">
			<form name="raRegistrationForm">
				<div class="form-group">
					<select class="form-control" data-ng-model="raFormInputImage" required>
						<option selected="selected">Please Select an Image</option>
						<option
								ng-repeat="image in raSettings.userImages"
								value="{{image}}">{{image}}</option>
					</select>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="raFormInputEmail" id="raFormInputEmail" placeholder="Email" data-ng-model="raFormInputEmail" required minlength="2" maxlength="50">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="raFormInputFirstName" id="raFormInputFirstName" placeholder="First Name" data-ng-model="raFormInputFirstName" required minlength="2" maxlength="50">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="raFormInputLastName" id="raFormInputLastName" placeholder="Last Name" data-ng-model="raFormInputLastName" required minlength="2" maxlength="50">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="raFormInputPassword" id="raFormInputPassword" placeholder="Password" data-ng-model="raFormInputPassword" required minlength="6" maxlength="50">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="raFormInputPasswordConfirm" id="raFormInputPasswordConfirm" placeholder="Confirm Password" data-ng-model="raFormInputPasswordConfirm" required minlength="6" maxlength="50" data-ra-compare-to="raFormInputPassword">
					<div class="ra-input-validation-error" ng-show="raRegistrationForm.raFormInputPasswordConfirm.$error.raCompareTo">Password and Confirm Password fields don't match!</div>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="raFormInputRememberMe" id="raFormInputRememberMe" data-ng-model="raFormInputRememberMe"> Remember me
					</label>
				</div>
				<button type="submit" data-ng-click="submitForm()" class="btn btn-primary">Register</button>
			</form>
		</div>
	</div>

</div>