<div class="ra-tickets-grid" data-ng-if="tickets.length">
	<div class="ra-tickets-row">
		<div
			class="ra-tickets-column-heading"
			style="width:{{100/project.statuses.length}}%"
			data-ng-repeat="status in project.statuses">
			{{status.name}}
		</div>
	</div>
	<div class="ra-tickets-row">
		<div class="ra-tickets-column"
			 style="width:{{100/project.statuses.length}}%"

			 ui-on-Drop="changeTicketStatus($data, status._id)"
			 drag-enter-class="ra-drop-entered"
			 drag-hover-class="ra-drop-active"

			 data-ng-repeat="status in project.statuses">

			<div
				class="ra-project-ticket ra-ticket-{{ticket.color}}"

				data-ui-sref="main.private.ticket({id:ticket._id, projectID:project._id})"

				ui-draggable="true"
				drag="ticket"

				data-ng-repeat="ticket in tickets | filter: {status: status._id}">
				<div class="ra-ticket-asignee">
					<img src="uploads/users/{{users[ticket.user].image}}" alt="{{users[ticket.user].fname}} {{users[ticket.user].lname}}"/>
				</div>
				<div class="ra-ticket-label">{{ticket.label}}</div>
				<div class="ra-ticket-name">{{ticket.name}}</div>
			</div>

		</div>
	</div>
</div>

<div class="alert alert-warning" data-ng-if="!tickets.length">
	<p>There are no tickets for this project yet.</p>
</div>

