<div class="ra-tickets-grid" data-ng-if="tickets.length">
	<div class="ra-tickets-row">
		<div
			class="ra-tickets-column-heading"
			style="width:{{100/project.statuses.length}}%"
			data-ng-repeat="status in project.statuses">
			{{status.name}}
		</div>
	</div>
	<div class="ra-tickets-row">

		<ul class="ra-tickets-column"
			 style="width:{{100/project.statuses.length}}%"

			 data-ng-repeat="list in lists"
			 dnd-drop="changeTicketStatus(item, $index)"
			 dnd-list="list">
			<li
				class="ra-project-ticket ra-ticket-{{ticket.color}}"

				dnd-draggable="ticket"
				dnd-moved="list.splice($index, 1)"

				data-ui-sref="main.private.ticket({id: ticket._id, projectID: project._id})"

				data-ng-repeat="ticket in list">
				<div class="ra-ticket-asignee">
					<img src="#" data-ng-src="uploads/users/{{ticket.user.image}}" alt="{{ticket.user.fname}} {{ticket.user.lname}}"/>
				</div>
				<div class="ra-ticket-label">{{ticket.label}}</div>
				<div class="ra-ticket-name">{{ticket.name}}</div>
			</li>

		</ul>
	</div>
</div>

<div class="alert alert-warning ra-margin-15" data-ng-if="!tickets.length">
	<p>There are no tickets for this project yet.</p>
</div>

