<div class="row">
	<div class="col-sm-12 text-right">
		Sort by: <span class="btn btn-default" ng-click="orderField='creationDate'" ng-class="{'active':orderField === 'creationDate'}">Creation Date</span>
		<span class="btn btn-default" ng-click="orderField='startDate'" ng-class="{'active':orderField === 'startDate'}">Startdate</span>
		<span class="btn btn-default" ng-click="orderField='endDate'" ng-class="{'active':orderField === 'endDate'}">Deadline</span>
		<span class="btn btn-default" ng-click="orderField='name'" ng-class="{'active':orderField === 'name'}">Name</span>
	</div>
</div>
<div class="projects-list row">
	<div class="col-sm-6 text-right" ng-repeat="project in projects | orderBy:orderField">
		<div data-project></div>
	</div>
</div>