<div class="ps-panel">

	<div class="row">
		<div class="col-sm-2 col-sm-offset-5">
			<form>
				<div class="form-group">
					<input type="email" class="form-control" name="raFormInputEmail" id="raFormInputEmail" placeholder="Email" data-ng-model="raFormInputEmail" minlength="2" maxlength="50" required>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="raFormInputPassword" id="raFormInputPassword" placeholder="Password" data-ng-model="raFormInputPassword" minlength="6" maxlength="50" required>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="raFormInputRememberMe" id="raFormInputRememberMe" data-ng-model="raFormInputRememberMe"> Remember me
					</label>
				</div>
				<button type="submit" data-ng-click="submitForm()" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>

</div>